@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root adjustments for better text rendering */
:root {
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox on macOS */
}

/* Universal selector for box-sizing and resetting padding/margin */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent horizontal overflow */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Custom styles for number input fields */
input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
  /* Standard */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Chrome, Safari */
  margin: 0;
}

/* Additional styles for file input compatibility with Firefox */
.file\:border-0::file-selector-button {
  border-width: 0;
}

.file\:bg-transparent::file-selector-button {
  background-color: transparent;
}

.file\:text-sm::file-selector-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.file\:font-medium::file-selector-button {
  font-weight: 500;
}

/* General element styles */
abbr[title] {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

::-webkit-file-upload-button {
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}